@model PedidosApp.Models.Product

@{
    ViewData["Title"] = "Detalles del Producto";
}

<h1>Detalles del Producto</h1>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">@Html.DisplayFor(model => model.Name)</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Stock)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            @if (Model.UpdatedAt.HasValue)
            {
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>
            }
        </dl>
    </div>
    <div class="card-footer">
        <div>
            @if (User.IsInRole("Admin") || User.IsInRole("Empleado"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
            }
            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
        </div>
    </div>
</div>